<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Track Stocks - {% block title %}{% endblock %} | By Shailesh Vasava
    </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description"
    content=" You will get list of stocks with help of this algorithmic track stock program  which doing short covering and long unwinding, you need to see just few value like pcr ane strike price and underlying value and take decision based on it, this for intraday study purpose. so practice do papaer trade and improve your trade skill with help of alogrithmic trade,Track Stock is Web Application which Fetching All FNOnStocks from NSE Website Data and Giving specific Stock which have possibility of Stocks going up or Down . you can not scan more than 150 stock at a time but this web application scanning stock in less than 1 minutes and giving results. "/>
    <meta name="keywords"
    content="Stock , FNO gainer, FNO looser, Stock Scanner, Buy Sell Option, Nifty 50, Stocks Technical analysis , Best App, Chat GPT option,free Stock Scanner, Best stock Scanner, Stock Suggestion, Get FNO list, Python NSE,track stock, algo trading, sortcovering candidate, long unwinding candidate, prc, nifty 50 stocks, bank nifty banks, nifty future stock"/>    
    <meta name="author" content="Shailesh Vasava"/>

    <!-- Favicon icon -->
    <link rel="icon" href="{{ ASSETS_ROOT }}/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/style.css">
    <!-- dark mode css -->
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/dark.css">

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body>
    
    {% block content %}{% endblock content %}

    <!-- Enable the dark mode -->
    <label class="d-none">
        <i class="icon feather icon-sun" id="theme-indicator"></i>
        <input type="checkbox" id="theme-switch" class="d-none">
    </label>

    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}    

</body>
</html>
